@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@flaticon/flaticon-uicons/css/all/all";


@layer base {
  body {
    @apply dark:bg-[#161616] bg-[#F4F4F4] transition-all ease-in duration-200;
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .animation-delay-4000 {
    animation-delay: 19s;
  }
}

/* .menu a {
  position: relative;
} */
/* 
.menu a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  rotate: -41deg;
  color: azure;
  background: url(https://assets.codepen.io/162656/long-arrow.svg) no-repeat -85px
    0 / contain;
  transition: background-position 0.3s ease-in-out;
}

.menu a:hover::before {
  background-position: 0;
} */
